<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <% if current_user && current_user.id != @user.id && !check_friendship_relation(@user) %>
    <%= link_to 'Invite to Friendship', add_as_a_friend_path(@user.id), class: 'profile-link' %>
  <% end %>
</section>
